<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  </head>
  <body>
    <div class=".container" id="container">
      <form id="loginForm">
        <br />

        <label for="email">Enter your email:</label>
        <input type="text" id="email" name="email" required />
        <br /><br />

        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password" required />
        <br /><br />
        <input type="submit" class="btn btn-success" value="Login" />
        <br />
        <a href="forgotPassword.html">Forgot your password?</a>
      </form>

      <a href="../../views/html/signup.html">Sign Up</a>
    </div>
    <script src="../../js/login.js"></script>
  </body>
</html>
